body{
    background-color: #FFF6E9;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}


/*.gradient-text{
    background-image: linear-gradient(to right, #405DE6, #833AB4,#FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}*/

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0px 0px 0px;
    color: #833AB4;
}

/*.subtitle{
    background-image: linear-gradient(to right, #405DE6, #833AB4,#FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}*/

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #833AB4;
}

p{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.stand-alone{
    display: block;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}


.section{
    margin: 5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
    grid-template-areas:
    "title title"
    "graph textblock";
    column-gap: 10%;
}

.titles{
    grid-area: title;
    width: 100%;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: rgb(64, 59, 73);
    margin-bottom: 0;
}

.chart{
    grid-area: graph;
    width: 100%;
}

.chart p{
    text-align: end;
}

.text{
    grid-area: textblock;
    width: 100%;

}

.text p{
    width: 100%;
    margin-top: 0;
}

#section2{
    display: grid;
    grid-template-columns: 70%;
    grid-template-areas:
    "title"
    "graph"
    "textblock";
    column-gap: 10%;
}

#section2 .text p{
    margin-top: 2%;
    margin-bottom: 5%;
    column-count: 2;
    column-gap: normal;
}




.disk{
    text-align: left;
    margin-left: 5%;

}

.p-text{
    margin-left: 5%;
    margin-right: 30%;
}



