body{
    background-color: #FFF6E9;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

.section{
    margin: 5%;
    margin-bottom: 10%
}


.gradient-text{
    background-image: linear-gradient(to right, #405DE6, #833AB4,#FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0px 0px 0px;
}

.subtitle{
    background-image: linear-gradient(to right, #405DE6, #833AB4,#FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#section1{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-areas:
    "graph textblock";
    column-gap: 10%;
}


.chart{
    grid-area: graph;
    width: 100%;
}

.text{
    grid-area: textblock;
    width: 100%;

}

.text p{
    width: 100%;
    margin-top: 15%;
}



