* {margin:0;}

body{
    background-color: #fcf6f6;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}


/*.gradient-text{
    background-image: linear-gradient(to right, #405DE6, #833AB4,#FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}*/

h1{
    /* text-align: center; */
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px 0px 70px 25%;
    background-image: linear-gradient(to right, #405DE6, #FD1D1D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.subtitle{
    position: absolute;
    transform: rotate(180deg);
    left: 58%;
    color: #fcf6f6;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1%;
}

/*h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #833AB4;
}*/

p{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

li{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 1%;
}

.stand-alone{
    width: 100%;
    margin: 0% 5% 10% 5%;
    display: grid;
    grid-template-columns: 13% 63%;
    grid-template-areas: 
    ". title"
    ". textblock";
}

.stand-alone p{
    grid-area: textblock;
}

.disc{
    width: 100%;
    margin: 0% 5% 10% 5%;
    display: grid;
    grid-template-columns: 13% 63%;
    grid-template-areas: 
    ". title"
    ". textblock1"
    ". list"
    ". textblock2";
}

.text1{
    grid-area: textblock1;
}

.disc ul{
    margin-top: 1%;
    grid-area:list;
}

.text2{
    margin-top: 2%;
    grid-area:textblock2;
}


/* .section{
    margin: 5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: auto;
    grid-template-areas:
    "title title"
    "graph textblock";
    column-gap: 10%;
} */

.section{
    margin: 5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 15% 70%;
    grid-template-rows: auto;
    grid-template-areas:
    ". title"
    ". graph" 
    ". textblock";
}

.titles{
    grid-area: title;
    width: 100%;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, #405DE6, #833AB4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 2%;
}

.chart-titles{
    grid-area: title;
    width: 100%;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    /*font-size: 24px;*/
    color: rgb(64, 59, 73);
    margin-bottom: 10%;
    
}

.chart{
    grid-area: graph;
    width: 100%;
    margin-bottom: 2%;
}

.chart p{
    text-align: end;
}

.text{
    grid-area: textblock;
    width: 100%;

}

.text p{
    width: 100%;
    margin-top: 2%;
}

#section2{
    margin: 5%;
    display: grid;
    grid-template-columns: 5% 70%;
    grid-template-areas:
    ". title"
    "graph"
    ". textblock";
    column-gap: 10%;
}

#section2 .text p{
    margin-top: 2%;
    margin-bottom: 5%;
}


/*.pattern{
    opacity: 50%;
}*/

.pattern2{
    transform: rotate(180deg);
   /* opacity:50%;*/

    
}




/* .disk{
    text-align: left;
    margin-left: 5%;

}

.p-text{
    margin-left: 5%;
    margin-right: 30%;
} */






